.home {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.main {
  display: flex;
  gap: 16px;
}

.name {
  font-size: 8rem;
  margin: 0;
  margin-bottom: 32px;
}

.title {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 32px;
}

.description {
  font-size: 1.3rem;
  margin-bottom: 64px;
}

.sns {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
}

.snsItem {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selfImage {
  flex: 1;
}

.selfImage img {
  width: 480px;
  height: auto;
  object-fit: cover;
}

/**
  * Slider
**/
.slider {
  flex: 1;
  display: flex;
  overflow: auto;
}

.sliderInner {
  display: flex;
  gap: 16px;
}

.sliderItem {
  background-color: aqua;
  width: 320px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
  * Portfolio
**/
.portfolio {
}
.portfolioInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.portfolioCard {
  display: flex;
  gap: 16px;
}
.portfolioImage {
  width: 320px;
  height: 180px;
}
.portfolioContent {
  flex: 1;
}
.portfolioTitle {
  font-size: 1.3rem;
  margin: 0;
}
.portfolioDescription {

}
